Repository slawqo/tobiko: changes, and which Zuul jobs are due for each by the changed paths.
All: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

tobiko-devstack-neutron:
  parent: tobiko-devstack
  description: 'Integration test that runs all tests against DevStack provided cloud
  
    '
  vars:
    tox_envlist: neutron
    devstack_localrc:
      ENABLE_FILE_INJECTION: true

tobiko-tempest:
  parent: devstack-tempest
  timeout: 7800
  required-projects:
  - openstack/tobiko
  vars:
    devstack_localrc:
      TEMPEST_PLUGINS: '''{{ ansible_user_dir }}/src/git.openstack.org/openstack/tobiko'''
    devstack_services:
      c-bak: false
      ceilometer-acentral: false
      ceilometer-acompute: false
  ...

tobiko-devstack-functional:
  parent: tobiko-devstack
  description: 'Base Tobiko devstack job to execute functional tests.
  
    '
  vars:
    tox_envlist: functional

tobiko-devstack-scenario-centos-7:
  parent: tobiko-devstack-scenario
  nodeset: openstack-three-node-centos-7
  vars:
    devstack_localrc:
      USE_PYTHON3: false

tobiko-devstack-scenario-centos-7-queens:
  parent: tobiko-devstack-scenario-centos-7
  override-checkout: stable/queens
  voting: false

tobiko-devstack-scenario-centos-7-rocky:
  parent: tobiko-devstack-scenario-centos-7
  override-checkout: stable/rocky
  voting: false

tobiko-devstack-scenario-centos-7-stein:
  parent: tobiko-devstack-scenario-centos-7
  override-checkout: stable/stein
  voting: false

tobiko-devstack-scenario-fedora-28:
  parent: tobiko-devstack-scenario
  nodeset: openstack-three-node-fedora-28
  voting: false
  vars:
    devstack_localrc:
  ...

tobiko-devstack-scenario-ubuntu-bionic:
  parent: tobiko-devstack-scenario
  nodeset: openstack-three-node-bionic
  vars:
    devstack_services:
      tls-proxy: true
  group-vars:
    subnode:
      devstack_services:
        tls-proxy: true

Add tests for routers
  tobiko/openstack/neutron/__init__.py
  tobiko/openstack/neutron/_client.py
  tobiko/tests/scenario/neutron/test_router.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add test to verify VM can ping all gateway route ports
  tobiko/tests/scenario/neutron/test_port.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add wrapper for IP command
  tobiko/openstack/topology/_topology.py
  tobiko/shell/ifconfig.py
  tobiko/shell/ip.py
  tobiko/shell/sh/__init__.py
  tobiko/shell/sh/_local.py
  tobiko/shell/sh/_process.py
  tobiko/shell/sh/_ssh.py
  tobiko/shell/sh/config.py
  tobiko/tests/functional/shell/test_ip.py
  tobiko/tests/scenario/neutron/test_port.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

List namespaces and namespace IPs on cloud nodes.
  tobiko/tests/scenario/cloud/test_nodes.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Allow to select IP address by scope
  tobiko/openstack/topology/_topology.py
  tobiko/shell/ip.py
  tobiko/tests/functional/shell/test_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Remove *.test_ssh_from_cli test cases
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Relax low coverage trealdshold
  .coveragerc
  tox.ini
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Remove *.test_ssh_command test cases
  tobiko/tests/functional/openstack/stacks/test_cirros.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional

Update topology API
  tobiko/openstack/topology/__init__.py
  tobiko/openstack/topology/_topology.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Use tobiko selection API for filtering L3 router agents
  tobiko/openstack/neutron/__init__.py
  tobiko/openstack/neutron/_client.py
  tobiko/tests/scenario/neutron/test_router.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add stack properties to get network gateway IPs
  tobiko/openstack/stacks/_neutron.py
  tobiko/tests/scenario/neutron/test_router.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Fix network stack gateway properties
  tobiko/openstack/stacks/_neutron.py
  tobiko/tests/functional/openstack/stacks/test_neutron.py
  tobiko/tests/scenario/neutron/test_router.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Workaround paramiko timeout problem
  tobiko/shell/sh/_execute.py
  tobiko/shell/sh/_process.py
  tobiko/shell/sh/_ssh.py
  tobiko/tests/functional/shell/test_execute.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add port test case for pinging gateway IPs
  tobiko/tests/scenario/neutron/test_port.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Handle timeout problems in execute_process function
  tobiko/shell/sh/_execute.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Remove test cases executing SSH client binary
  tobiko/tests/scenario/neutron/test_network.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

List namespace IPs using the new ip command wrapper
  tobiko/tests/scenario/neutron/test_router.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add node selection by hostname
  tobiko/openstack/topology/_topology.py
  tobiko/tests/functional/openstack/test_topology.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Fix nova hipervisor API test case
  tobiko/tests/functional/openstack/test_nova.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional

Update Neutron port scenario test case
  tobiko/shell/ping/__init__.py
  tobiko/shell/ping/_assert.py
  tobiko/tests/scenario/neutron/test_port.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Improve the use of tobiko framework in test_routers
  tobiko/tests/scenario/neutron/test_router.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add tobiko-devstack-scenario-centos-7-train upstream CI job
  zuul.d/project.yaml
  zuul.d/tobiko-devstack.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Pass unit tests when cloud name is configured
  tobiko/tests/unit/openstack/keystone/test_clouds_file.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Fix support for multiple SSH key files
  tobiko/shell/ssh/_client.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Use CentOS 7 in Vagrant file
  Vagrantfile
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Implement HTTP over SSH tunneling.
  tobiko/common/_detail.py
  tobiko/openstack/keystone/_session.py
  tobiko/openstack/neutron/_extension.py
  tobiko/openstack/nova/_client.py
  tobiko/shell/ssh/__init__.py
  tobiko/shell/ssh/_client.py
  tobiko/shell/ssh/_http.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Implement SSH port forwarding on top of sshtunnel library
  requirements.txt
  tobiko/openstack/keystone/_session.py
  tobiko/shell/ssh/__init__.py
  tobiko/shell/ssh/_client.py
  tobiko/shell/ssh/_forward.py
  tobiko/shell/ssh/_http.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Fix test_list_ip_addresses_with_host_scope test case
  tobiko/tests/functional/shell/test_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional

Create new tobiko.http package
  tobiko/http/__init__.py
  tobiko/http/_connection.py
  tobiko/http/_session.py
  tobiko/openstack/keystone/_session.py
  tobiko/shell/ssh/_http.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Skip test case when there are not enogth L3 agents
  tobiko/tests/functional/openstack/stacks/test_neutron.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional

Add support for remote unix socket forwarding
  tobiko/http/_connection.py
  tobiko/shell/ssh/__init__.py
  tobiko/shell/ssh/_client.py
  tobiko/shell/ssh/_command.py
  tobiko/shell/ssh/_forward.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Test ports with L3HA and CentOS/Ubuntu nova servers
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_l3ha.py
  tobiko/tests/scenario/neutron/test_port.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Ignore tobiko_result.* files
  .gitignore
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Fix handling of MultipleException
  tobiko/__init__.py
  tobiko/common/_exception.py
  tobiko/common/_fixture.py
  tobiko/tests/unit/test_exception.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Fix handling of getaddrinfo format errors
  tobiko/openstack/topology/_topology.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Update octavia client
  tobiko/openstack/octavia/__init__.py
  tobiko/openstack/octavia/_client.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

When image is None, image ID has to be reported as None
  tobiko/openstack/glance/_image.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add docker client module
  requirements.txt
  tobiko/docker/__init__.py
  tobiko/docker/_client.py
  tobiko/docker/_exception.py
  tobiko/docker/_shell.py
  tobiko/docker/config.py
  tobiko/openstack/topology/_topology.py
  tobiko/tests/functional/docker/__init__.py
  tobiko/tests/functional/docker/test_client.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add test cases to list docker containers on cloud nodes
  tobiko/tests/scenario/cloud/test_nodes.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Increase glance image polling intervall from 1 to 5 seconds
  tobiko/openstack/glance/_image.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Path conditions:
  tobiko-devstack-neutron: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-devstack-functional: unless all of: ^tobiko/tests/scenario/.*$
  tobiko-devstack-scenario-centos-7: unless all of: ^tobiko/tests/functional/.*$
  tobiko-devstack-scenario-centos-7-queens: unless all of: ^tobiko/tests/functional/.*$
  tobiko-devstack-scenario-centos-7-rocky: unless all of: ^tobiko/tests/functional/.*$
  tobiko-devstack-scenario-centos-7-stein: unless all of: ^tobiko/tests/functional/.*$
  tobiko-devstack-scenario-fedora-28: unless all of: ^tobiko/tests/functional/.*$
  tobiko-devstack-scenario-ubuntu-bionic: unless all of: ^tobiko/tests/functional/.*$
