Repository slawqo/tobiko: changes, and which Zuul jobs are due for each by the changed paths.
All: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Path conditions:
  tobiko-devstack-neutron: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-devstack-functional: unless all of: ^tobiko/tests/scenario/.*$
  tobiko-devstack-scenario-centos-7: unless all of: ^tobiko/tests/functional/.*$
  tobiko-devstack-scenario-centos-7-queens: unless all of: ^tobiko/tests/functional/.*$
  tobiko-devstack-scenario-centos-7-rocky: unless all of: ^tobiko/tests/functional/.*$
  tobiko-devstack-scenario-centos-7-stein: unless all of: ^tobiko/tests/functional/.*$
  tobiko-devstack-scenario-fedora-28: unless all of: ^tobiko/tests/functional/.*$
  tobiko-devstack-scenario-ubuntu-bionic: unless all of: ^tobiko/tests/functional/.*$

Update SSH client integration
  tobiko/shell/sh/__init__.py
  tobiko/shell/sh/_execute.py
  tobiko/shell/ssh/__init__.py
  tobiko/shell/ssh/_client.py
  tobiko/shell/ssh/_command.py
  tobiko/shell/ssh/_config.py
  tobiko/shell/ssh/config.py
  tobiko/tests/functional/shell/test_sh.py
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Disable SSH agent formarding by default.
  tobiko/shell/ssh/config.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add info about Heat in Devstack
  devstack/README.rst
Due: tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Create reusable Heat staks.
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_hot.py
  tobiko/openstack/stacks/_neutron.py
  tobiko/openstack/stacks/_nova.py
  tobiko/openstack/stacks/neutron/network.yaml
  tobiko/openstack/stacks/neutron/security_groups.yaml
  tobiko/openstack/stacks/neutron/server.yaml
  tobiko/openstack/stacks/nova/key_pair.yaml
  tobiko/tests/functional/shell/test_sh.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Use NovaKeyPairFixture in neutron scenario test cases
  tobiko/tests/scenario/neutron/_stacks.py
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Fix : /bin/sh: line 1: wget: command not found
  infrared/tasks/install.yml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Fix keystone credentials
  tobiko/openstack/keystone/_credentials.py
  tobiko/openstack/keystone/config.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Update irrilevant files for Devstack CI jobs
  zuul.d/tobiko-devstack.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Refine tobiko faults
  .gitignore
  doc/source/user/index.rst
  doc/source/user/run-faults.rst
  tobiko/cmd/fault.py
  tobiko/fault/config.py
  tobiko/fault/executor.py
  tobiko/fault/templates/os-faults.yml.j2
  tobiko/tests/unit/cmd/test_fault.py
  tobiko/tests/unit/fault/__init__.py
  tobiko/tests/unit/fault/test_fault.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Implement async shell result handling
  tobiko/shell/ping/_ping.py
  tobiko/shell/sh/_command.py
  tobiko/shell/sh/_exception.py
  tobiko/shell/sh/_execute.py
  tobiko/shell/sh/_io.py
  tobiko/shell/sh/_process.py
  tobiko/shell/ssh/_command.py
  tobiko/tests/functional/shell/test_sh.py
  tobiko/tests/scenario/neutron/test_floating_ip.py
  tox.ini
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Fix test_ssh after Include directive is being ignored.
  tobiko/shell/ssh/_config.py
  tobiko/tests/unit/shell/test_ssh.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Update tobiko documentation page URL.
  README.rst
Due: tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Configure documentation upstream CI jobs
  zuul.d/project.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Update shared fixture classes.
  tobiko/openstack/stacks/_neutron.py
  tobiko/openstack/stacks/_nova.py
  tobiko/shell/sh/_execute.py
  tobiko/shell/sh/_io.py
  tobiko/tests/functional/openstack/__init__.py
  tobiko/tests/functional/openstack/test_stacks.py
  tobiko/tests/functional/shell/test_sh.py
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Use shared floating ip server stack in test_floating_ip
  tobiko/openstack/stacks/_neutron.py
  tobiko/openstack/stacks/neutron/floating_ip_server.yaml
  tobiko/tests/scenario/neutron/templates/floating_ip.yaml
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Verify shared stack hostname
  tobiko/tests/functional/openstack/test_stacks.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional

Move security group stack fixture to shared package
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_neutron.py
  tobiko/tests/scenario/neutron/_stacks.py
  tobiko/tests/scenario/neutron/templates/key_pair.yaml
  tobiko/tests/scenario/neutron/templates/security_groups.yaml
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Try to fix failing RTD web hook
  zuul.d/project.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Update heat stack template and outputs
  tobiko/openstack/heat/__init__.py
  tobiko/openstack/heat/_stack.py
  tobiko/openstack/heat/_template.py
  tobiko/tests/unit/openstack/heat/test_stack.py
  tobiko/tests/unit/openstack/heat/test_template.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Let get_fixture_name skip calling __getattr__ method in shared fixtures.
  tobiko/common/_fixture.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Optimize getting stack outputs
  tobiko/openstack/heat/_stack.py
  tobiko/openstack/heat/_template.py
  tobiko/tests/functional/openstack/test_stacks.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Remove .outputs reference when not needed.
  tobiko/openstack/stacks/_neutron.py
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add support for net-mtu-write to NetworkStackFixture
  tobiko/openstack/stacks/_neutron.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Get stack otputs direclty from stack attribures
  tobiko/tests/functional/openstack/test_stacks.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional

Update test_floating_ip docstrings
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Rename "floating_ip_stack" attribute name as "stack".
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Remove test case properties
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add basic ssh connection test cases.
  tobiko/tests/functional/openstack/test_stacks.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional

Create functional test case for NetworkStackFixture
  tobiko/openstack/stacks/neutron/network.yaml
  tobiko/tests/functional/openstack/test_stacks.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Update fixtures for creating networks.
  tobiko/openstack/neutron/__init__.py
  tobiko/openstack/neutron/_client.py
  tobiko/openstack/neutron/_exceptions.py
  tobiko/openstack/stacks/_neutron.py
  tobiko/tests/functional/openstack/test_stacks.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Use connect SSH client method to wait for networking connectivity
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Use FloatingIpServerStackFixture in test_floating_ip
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Rename fixture: NetworkWithNetMtuWriteStackFixture -> NetworkWithNetMtuWriteStackFixture
  tobiko/openstack/stacks/__init__.py
  tobiko/openstack/stacks/_neutron.py
  tobiko/tests/functional/openstack/test_stacks.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add n-api-meta and q-agt services to DevStack subnodes
  zuul.d/tobiko-devstack.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Improve neutron client integration
  tobiko/openstack/_find.py
  tobiko/openstack/neutron/__init__.py
  tobiko/openstack/neutron/_client.py
  tobiko/openstack/neutron/config.py
  tobiko/openstack/stacks/_neutron.py
  tobiko/openstack/stacks/neutron/network.yaml
  tobiko/tests/functional/openstack/test_neutron.py
  tobiko/tests/functional/openstack/test_stacks.py
  tobiko/tests/unit/openstack/neutron/test_client.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Use NetworkWithNetMtuWriteStackFixture for testing net-mtu-write extension
  tobiko/tests/scenario/neutron/_stacks.py
  tobiko/tests/scenario/neutron/templates/internal_network.yaml
  tobiko/tests/scenario/neutron/test_floating_ip.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add reset fixture function
  tobiko/__init__.py
  tobiko/common/_fixture.py
  tobiko/tests/unit/test_fixture.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Add check valid type function
  tobiko/__init__.py
  tobiko/common/_exception.py
  tobiko/tests/unit/test_exception.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Improve keystone client 'lazyness'
  tobiko/openstack/keystone/__init__.py
  tobiko/openstack/keystone/_credentials.py
  tobiko/openstack/keystone/_session.py
  tobiko/tests/unit/openstack/keystone/test_session.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic

Update OpenStack clients to improve 'lazyness'
  tobiko/openstack/_client.py
  tobiko/openstack/heat/__init__.py
  tobiko/openstack/heat/_client.py
  tobiko/openstack/keystone/_credentials.py
  tobiko/openstack/neutron/_client.py
  tobiko/openstack/nova/__init__.py
  tobiko/openstack/nova/_client.py
  tobiko/tests/unit/openstack/heat/test_client.py
  tobiko/tests/unit/openstack/test_client.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-functional, tobiko-devstack-scenario-centos-7, tobiko-devstack-scenario-centos-7-queens, tobiko-devstack-scenario-centos-7-rocky, tobiko-devstack-scenario-centos-7-stein, tobiko-devstack-scenario-fedora-28, tobiko-devstack-scenario-ubuntu-bionic
