Repository slawqo/tobiko: changes, and which Zuul jobs are due for each by the changed paths.
All: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Path conditions:
  tobiko-devstack-neutron: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$
  tobiko-devstack-octavia-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-octavia-scenario-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-ovn-faults-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-train: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-centos-7-queens: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-devstack-faults-ubuntu-bionic: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/
  tobiko-tripleo-functional: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/faults/, ^tobiko/tests/scenario/, ^tobiko/tests/unit/
  tobiko-tripleo-faults: unless all of: ^.*\.rst$, ^doc/, ^infrared/, ^releasenotes/, ^report/, ^tobiko/tests/functional/, ^tobiko/tests/unit/

Use special RHOSP vars files in tobiko-ensure-python3 role
  roles/tobiko-ensure-python3/defaults/main.yaml
  roles/tobiko-ensure-python3/tasks/install.yaml
  roles/tobiko-ensure-python3/tasks/platform.yaml
  roles/tobiko-ensure-python3/vars/rhosp-RedHat-7.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Update zuul irrelevant files
  zuul.d/devstack.yaml
  zuul.d/infrared.yaml
  zuul.d/tripleo.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Update project README.rst file
  README.rst
Due: none

Update Quick Start guide
  doc/source/user/quick-start.rst
Due: none

remove duplicate /failing container tests
  tobiko/tests/scenario/cloud/test_nodes.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-faults

Fix number of columns obtained from PCS output
  tobiko/tripleo/pacemaker.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Add tool to install bindeps
  tools/install-bindeps.sh
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

restart ovn faults tests
  tobiko/tests/faults/ha/cloud_disruptions.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
  tobiko/tripleo/containers.py
  tobiko/tripleo/pacemaker.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Added skip decorator to test_metadata_haproxy_during_stop_L3_agent test
  tobiko/tests/faults/agents/test_neutron_agents.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-faults

Obtain overcloud nodes know subgroups from node name
  tobiko/openstack/topology/_topology.py
  tobiko/tripleo/topology.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Add lower-contraints job
  lower-constraints.txt
  requirements.txt
  test-requirements.txt
  tox.ini
  zuul.d/project.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Add validations-libs as an extra requirement
  extra-requirements.txt
  tox.ini
  zuul.d/devstack.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Update the quickstart guide
  doc/source/user/quick-start.rst
Due: none

Update Dockerfile to use bindep and tox
  .dockerignore
  Dockerfile
  docker-compose.yml
  tools/install-bindeps.sh
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Clear cache before retrying to get containers info
  tobiko/tripleo/containers.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

add IHA tests Change-Id: I8d2740e877c607c3b225dd3475b4abc6f3420378
  tobiko/tests/faults/ha/cloud_disruptions.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
  tobiko/tripleo/nova.py
  tobiko/tripleo/pacemaker.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Add tripleo validations (post-deployment group checks) to overcloud healthchecks
  infrared_plugin/roles/tobiko-ir-deploy/tasks/main.yaml
  tobiko/tests/faults/ha/test_cloud_recovery.py
  tobiko/tripleo/validations.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Handle non-RHOSP hosts without rescueing from an error.
  roles/tobiko-ensure-python3/tasks/platform.yaml
  roles/tobiko-ensure-python3/vars/py3-Ubuntu-18.04.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Update .gitignore file
  .gitignore
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Update role tasks to reduce false 'changed' state
  roles/tobiko-ensure-python3/tasks/install.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Retry mechanism for check_neutron_agents_health
  tobiko/tripleo/neutron.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Rewrite Vagrant file using ansible and Centos 8
  Vagrantfile
  ansible.cfg
  roles/tobiko-copy-resolv-conf/defaults/main.yaml
  roles/tobiko-copy-resolv-conf/tasks/main.yaml
  roles/tobiko-devstack/defaults/main.yaml
  roles/tobiko-devstack/meta/main.yaml
  roles/tobiko-devstack/tasks/deploy-devstack.yaml
  roles/tobiko-devstack/tasks/deploy-requirements.yaml
  roles/tobiko-devstack/tasks/deploy-tobiko.yaml
  roles/tobiko-devstack/tasks/ensure-stack-user.yaml
  roles/tobiko-devstack/tasks/install-bindeps.yaml
  roles/tobiko-devstack/tasks/main.yaml
  roles/tobiko-devstack/tasks/run-stack.yaml
  roles/tobiko-devstack/tasks/run-unstack.yaml
  roles/tobiko-ensure-python3/tasks/install.yaml
  roles/tobiko-ensure-ssh-keys/defaults/main.yaml
  roles/tobiko-ensure-ssh-keys/tasks/main.yaml
  roles/tobiko-redhat-subscription/defaults/main.yaml
  roles/tobiko-redhat-subscription/tasks/main.yaml
  vagrant/devstack/local.conf
  vagrant/devstack/provision.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Ensure stack is deleted before creating it again
  tobiko/openstack/heat/_stack.py
  tobiko/tests/unit/openstack/heat/test_stack.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

faults instance-ha tests create only 2 vms to not stress the overcloud
  tobiko/tests/faults/ha/cloud_disruptions.py
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-faults

unblock testing, dont fail on assert_containers_state until we fix the check
  tobiko/tripleo/containers.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

All VM instances need to be started after computes reboot
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-faults

method addition:remove_containers_if_pacemaker_resources to not fail on pacemaker resources in assert_equal_container_state
  tobiko/tests/faults/ha/cloud_disruptions.py
  tobiko/tripleo/containers.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Fixes minor typo in installation guide
  doc/source/user/install.rst
Due: none

Disable sibilling projects installation on CentOS 7
  zuul.d/infrared.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Test IR plugin only against latest Fedora version
  zuul.d/infrared.yaml
  zuul.d/nodes.yaml
  zuul.d/project.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Add extra-requirements to lower-constraints tox environment
  tox.ini
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Declass Pandas as an extra optional requirement
  extra-requirements.txt
  lower-constraints.txt
  requirements.txt
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Skip faults OVN tests when OVN is not used
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-faults

Set CentOS-8 as reference DevStack job
  zuul.d/devstack.yaml
  zuul.d/nodes.yaml
  zuul.d/project.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Switch to CentOS image version 8.2
  tobiko/openstack/stacks/_centos.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Rename Tobiko's three nodes nodesets
  zuul.d/devstack.yaml
  zuul.d/nodes.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix copy of local.conf (permissions escalation)
  roles/tobiko-devstack/tasks/deploy-devstack.yaml
  vagrant/devstack/provision.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

Fix tobiko-devstack role
  roles/tobiko-devstack/defaults/main.yaml
  roles/tobiko-devstack/tasks/ensure-stack-user.yaml
  roles/tobiko-devstack/tasks/run-stack.yaml
  roles/tobiko-devstack/tasks/run-unstack.yaml
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-functional, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-functional, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-functional, tobiko-tripleo-faults

comment out/put network_disruptions in maintanance , unblock testing
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-faults

make sure all iha tests are run only if iha configured
  tobiko/tests/faults/ha/test_cloud_recovery.py
Due: tobiko-devstack-neutron, tobiko-tempest, tobiko-devstack-octavia-functional, tobiko-devstack-octavia-scenario, tobiko-devstack-octavia-scenario-centos-7, tobiko-devstack-octavia-scenario-ubuntu-bionic, tobiko-devstack-ovn-faults-centos-7, tobiko-devstack-ovn-faults-centos-7-queens, tobiko-devstack-ovn-faults-ubuntu-bionic, tobiko-devstack-faults-centos-7, tobiko-devstack-faults-centos-7-train, tobiko-devstack-faults-centos-7-queens, tobiko-devstack-faults-ubuntu-bionic, tobiko-tripleo-faults
